h1{
    background-color: aqua;
    opacity: 0.4;
}
body{
    background-image: url("../images/image\ copy.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}