.parent{
text-align: center;
background-color: bisque;
border: 10px dotted green;

}
.child{
    width:inherit;
    border: inherit;
    border-top-color: blue;
    border-left-color: blueviolet;
    border-right-color:yellow;
    border-style:dashed
}
p{
    background-color: rgb(237,237,186);
    
    
}
p.p1{
    width:500px;
    border:10px solid green;
    border-radius: 100px;
    padding: 50px;
    margin:10;px;
    border-top-left-radius: 50px;;
    border-top-right-radius: 50px;;
}
}
p.p2{
    max-width: 600px;
}
