#menu{
    list-style-type: none;

}
#menu li{
    display:inline-block;
    background-color:rgb(153,217,234);
    border:2px solid rgb(0,162,232);
    padding: 5px;
    border-radius: 5px;
    text-align: center;;
}
#menu li:hover{
    background-color: blueviolet;
}
#menu li{
    text-decoration:none;
    color:black;
}
#menu a:hover{
    background-color:rgb(208, 4, 133);
}